$white: #ffffff;
$gray-07: #b7b7b7;
$gray-04: #6e6e6f;

$triangle-width: 88px;
$triangle-height: 72px;
$triangle-big-wrapper-width: 76px;
$triangle-big-wrapper-height: 92px;
$rombus-wrapper-side-length: 98px;
$heart-center-width: 81px;
$heart-center-height: 57px;
$square-side-length: 71px;
$shape-bg-primary: orangered;
$fc-primary: $white;
$fc-active: green;

