body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.keen-slider {
  height: 222px;
  width: unset;

  //justify-content: center;
  //align-content: center !important;
  //align-items: center;

  //&__slide {
  //  background: grey;
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //  font-size: 50px;
  //  color: #fff;
  //  font-weight: 500;
  //  height: 252px;
  //  max-height: 100vh;
  //}
  &__inner {
    display: flex;
    margin: 0 27px;
    span {
      display: inline-block;
      transition: all 0.3s;
      font-size: 20px;
      //line-height: 1;
    }
  }
  &__slide {
    font-weight: 400;
    overflow: visible !important;
    letter-spacing: 0.38px;
    color: #ffffff;
    z-index: 5;
    transition-property: font-size, color, bottom, top;
    transition-duration: 0.2s;
    //transition: font-size 0.2s, color 0.2s;
    align-items: center;
    justify-content: center;
  }
}

.buttons {
  display: flex;
  padding-top: 7px;
  justify-content: center;
}

button {
  min-width: 100px;
  margin: 0 10px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 13px;
  padding: 7px 15px;
  border-radius: 3px;
  font-weight: bold;
}
