body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.keen-slider {
  height: 222px;
  cursor: grab;
  z-index: 5;
  &:active {
    cursor: grabbing;
  }
  &__inner {
    display: flex;
    &--center{
      justify-content: center;
    }
    span {
      display: inline-block;
      transition: all 0.3s;
      font-size: 20px;
      min-width: 22px;
      text-align: center;
    }
  }
  &__slide {
    will-change: transform;
    font-weight: 400;
    overflow: visible !important;
    letter-spacing: 0.38px;
    color: #ffffff;
    z-index: 5;
    transition-property: font-size, color, bottom, top;
    transition-duration: 0.2s;
    //transition: font-size 0.2s, color 0.2s;
    align-items: center;
  }
}
