@keyframes opacity-animated {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.onboarding-content {
  animation: opacity-animated 0.5s linear;

  .black-gradient-icon {
    margin-bottom: 48px;
  }
  h1 {
    text-align: center;
    margin-bottom: 12px;
    white-space: pre-line;
  }
  &__description {
    color: $gray-07;
    text-align: center;
    white-space: pre-line;
    margin-bottom: 48px;
    p:not(:last-child) {
      margin-bottom: 16px;
      line-height: 19px;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s;
  }
  &__birth-time-buttons {
    margin-top: auto;
    align-self: stretch;
    .outlined-button {
      margin-top: unset;
      margin-bottom: 25px;
    }
    .gradient-button {
      margin-top: unset;
    }

  }
  .text-input {
    margin-bottom: 48px;
    width: 100%;
  }
  .slider-picker {
    margin-bottom: 48px;
    min-width: 335px;
  }
}

@media only screen and (max-width: 576px) {
  .onboarding-content {
    flex-grow: 1;
    &__inner {
      height: 100%;
      .text-input {
        margin-top: auto;
      }
      .gradient-button {
        margin-top: auto;
      }
      .outlined-button {
        margin-top: auto;
      }
    }
  }
}
