.onboarding-content {
  max-width: 335px;
  animation: opacity-animated 0.5s linear;

  .black-gradient-icon {
    margin-bottom: 48px;
  }
  h1 {
    text-align: center;
    margin-bottom: 12px;
    white-space: pre-line;
  }
  &__description {
    color: $gray-07;
    text-align: center;
    white-space: pre-line;
    margin-bottom: 48px;
    p:not(:last-child) {
      margin-bottom: 16px;
      line-height: 19px;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s;
  }
  .text-input{
    margin-bottom: 48px;
    width: 100%;
  }
  .slider-picker{
    margin-bottom: 48px;
    min-width: 335px;
  }
}


@keyframes opacity-animated {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
