.slider-picker {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, min-content);
  align-items: center;
  column-gap: 32px;
  position: relative;
  justify-self: center;
  padding: 0 32px;
  -webkit-mask-image: -webkit-linear-gradient(
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0.6) 20%,
    rgba(0, 0, 0, 0.6) 40%,
    rgba(0, 0, 0, 0.6) 42.84%,
    rgba(0, 0, 0, 1) 42.845%,
    rgba(0, 0, 0, 1) 57.155%,
    rgba(0, 0, 0, 0.6) 57.16%,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0.6) 80%,
    rgba(0, 0, 0, 0.25) 100%
  );

  &__center-highlight {
    position: absolute;
    height: 32px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: #3a3a3d;
    border-radius: 10px;
  }
}
