@font-face {
  font-family: 'SF Pro';
  font-weight: 400;
  font-style: normal;
  src: local('SF pro'), url(../src/assets/fonts/SF-Pro-Display-Regular.otf) format('truetype');
}
@font-face {
  font-family: 'SF Pro';
  font-weight: 500;
  font-style: normal;
  src: local('SF pro'), url(../src/assets/fonts/SF-Pro-Display-Medium.otf) format('truetype');
}
@font-face {
  font-family: 'SF Pro';
  font-weight: 600;
  font-style: normal;
  src: local('SF pro'), url(../src/assets/fonts/SF-Pro-Display-Semibold.otf) format('truetype');
}
@font-face {
  font-family: 'SF Pro';
  font-weight: 700;
  font-style: normal;
  src: local('SF pro'), url(../src/assets/fonts/SF-Pro-Display-Bold.otf) format('truetype');
}
html{
  font-size: 16px;
  color: $white;
}
h1{
  font-size: 32px;
}
p{
  opacity: 0.7;
}
